{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data" class="form-container">
                {% csrf_token %}
                <input type="file" name="my_file" class="form-control-file mb-3">
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
