{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="py-5">Add Session</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="session" class="form-label">Session:</label>
            <input type="text" id="session" class="form-control" name="session" required>
        </div>
        
        <div class="mb-3">
            <label for="start_date" class="form-label">Start Date:</label>
            <input type="date" class="form-control" id="start_date" name="start_date" required>
        </div>
        
        <div class="mb-3">
            <label for="end_date" class="form-label">End Date:</label>
            <input type="date" class="form-control" id="end_date" name="end_date" required>
        </div>
        
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="is_current_session" name="is_current_session" value="true">
            <label class="form-check-label" for="is_current_session">Is Current Session</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}
