{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            
            <div class="card-body">
                <div class="card-tittle py-3">
                    <h4>Register for a free account</h4>
                 </div>

                 <form action="{% url 'register' %}" method="post">
                    
                    {% csrf_token %}

                    {% include 'partials/_messages.html' %}
                    <div class="form-group">
                        <input type="text" value="{{fieldValue.username}}" name="Username" placeholder="Username" id="UsernameField" class="form-control form-control-sm">
                    </div>
                    <div class="invalid-feedback " style="display: none;">
                    </div>
                    <div class="form-group">
                        <input type="email" value="{{fieldValue.email}}" name="Email" placeholder="Email" id="EmailField" class="form-control form-control-sm">
                    </div>
                    <div class="Email-feedback " style="display: none;">
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" placeholder="Password" id="PasswordField" class="form-control form-control-sm">
                    </div>
                    <div class="float-right py-3 showPasswordToggle">SHOW</div>
                    <input type="submit" value="Register" class="btn btn-block btn-secondary submitBtn"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>


<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}