{% extends "base.html" %}

{% block content %}

<div class="container py-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'finance:student'%}">Students</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add Student</li> <!-- Corrected breadcrumb label -->
    </ol>
  </nav>
</div>

<div class="card">
    <div class="card-body">
      <form action="{% url 'finance:edit_student' student.name %}" method="post" class="row g-3">
        {% csrf_token %}
        {% include 'partials/_messages.html'%}
        <div class="col-md-12">
          <label for="id_name">Name</label> <!-- Added 'for' attribute with 'id' value for accessibility -->
          <input type="text" value="{{values.name}}" name="name" id="id_name" class="form-control form-control-sm">
        </div>
        <div class="col-md-12">
          <label for="id_student_id">Student Id</label>
          <input type="number" value="{{values.student_id}}" name="student_id" id="id_student_id" class="form-control form-control-sm"> <!-- Corrected value attribute -->
        </div>
        <div class="col-md-12">
          <label for="id_index_number">Index Number</label>
          <input type="number" value="{{values.index_number}}" name="index_number" id="id_index_number" class="form-control form-control-sm">
        </div>
        <div class="col-md-12">
          <label for="id_reference_number">Reference Number</label>
          <input type="number" value="{{values.reference_number}}" name="reference_number" id="id_reference_number" class="form-control form-control-sm">
        </div>
        <div class="col-md-12">
          <label for="id_phone">Phone</label>
          <input type="text" value="{{values.phone}}" name="phone" id="id_phone" class="form-control form-control-sm"> <!-- Changed input type to text -->
        </div>
        <div class="col-md-12">
          <label for="id_email">Email</label>
          <input type="email" value="{{values.email}}" name="email" id="id_email" class="form-control form-control-sm">
        </div>
        <div class="col-md-12">
          <label for="id_level">Level</label>
          <select name="level" id="id_level" class="form-select form-select-sm">
            {% for level_code, level_name in level %}
              <option value="{{ level_code }}" {% if level_code == values.level %} selected {% endif %}>{{ level_name }}</option> <!-- Added selected attribute if the value matches -->
            {% endfor %}
          </select>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
</div>

{% endblock content %}
